<div class="nav">
		<div class="breadcrumb">
			<div class="row">
				<div class="content">
				<a href="index.php" target="_self"><span>Home</span></a><a href="index.php?posadminconsole&alia=admin-console" target="_self"><span>Admin Console</span></a><a href="index.php?posadminconsole&alia=account-detail" target="_self"><span>Account Details</span></a>				</div>
			</div>
		</div>
</div>