<?php //pr($this->request->params);die(); ?>
    <?php if ($this->request->params['action']!='home'): ?>
        <div class="dialog dialog-menber" title="Member Logout">
        <a href="<?php echo Router::url(array("controller"=>"users",
                     "action"=>"logout"));?>"><span>Logout</span></a>
        </div>
        
    <?php else: ?>
        <div class="dialog dialog-menber" title="Member Sign Up">
        <a href="<?php echo Router::url(array("controller"=>"users",
                     "action"=>"add"));?>"><span>Go To Admin Console</span></a>
        </div>
        <div class="dialog dialog-user" title="User Login" >
        <a href="<?php echo Router::url(array("controller"=>"users",
                         "action"=>"login"));?>">
            user Login
        </div>
    <?php endif ?>