<div class="aside-right member-signup">
			<div class="member-details">
				<h3>Sign Up Screen</h3>
                <h4></h4>  
                <form action="/sample/users/add" class="common-form member-signup-form" id="UserAddForm" method="post" accept-charset="utf-8"><div style="display:none;"><input type="hidden" name="_method" value="POST"></div><!--                 <form action="" class="common-form">
 -->					<div class="form-body">
						<ul>
						
							<li id="fname">
							<label for="UserFirstName">Company:</label><input name="data[User][first_name]" maxlength="50" type="text" id="UserFirstName">							
							</li>
						
							<li id="compname">
							<label for="UserCompanyName">Username/Email:</label><input name="data[User][company_name]" type="text" id="UserCompanyName">							
							</li>
							<li>
                             <label for="UserUsername">Contact:</label><input name="data[User][username]" maxlength="50" type="text" id="UserUsername" required="required">							</li>
							<li id="contact">
							<label for="UserName">Password:</label><input name="data[User][name]" type="text" id="UserName">					</li>
							<li id="lname">
                             <label for="UserLastName">ABN:</label><input name="data[User][last_name]" maxlength="50" type="text" id="UserLastName">							
                            </li>
							<li>
							<label for="UserConfpassword">ConfirmPassword:</label><input name="data[User][confpassword]" required="required" type="password" id="UserConfpassword">	
							</li>
							<li>
							<label for="UserPassword">Type of Business::</label>
							<select name="data[User][member_name]" id="UserMemberName">
								<option value="">(Please Select One)</option>
								<option value="individual">individual</option>
								<option value="wholesale">wholesale</option>
								<option value="retail">retail</option>
								<option value="freight company">freight company</option>
							</select>						
							</li>
							<li>&nbsp;</li>
							<li id="fname">
							<label for="UserFirstName">Address:</label><input name="data[User][first_name]" maxlength="50" type="text" id="UserFirstName">
							</li>	
							<li>&nbsp;</li>
							<li id="lname">
                             <label for="UserLastName">Suburb:</label><input name="data[User][last_name]" maxlength="50" type="text" id="UserLastName">
                             </li>
							<li>&nbsp;</li>
							<li>
                             <label for="UserUsername">State:</label><input name="data[User][username]" maxlength="50" type="text" id="UserUsername" required="required">					
                            </li>
                            <li>&nbsp;</li>
							<li id="contact">
							<label for="UserName">Postcode:</label><input name="data[User][name]" type="text" id="UserName">					</li>
							<li>&nbsp;</li>
							<li id="contact">
							<label for="UserName">Country:</label>
							<select name="data[User][member_name]" id="UserMemberName">
								<option value="">(Please Select One)</option>
								<option value="individual">individual</option>
								<option value="wholesale">wholesale</option>
								<option value="retail">retail</option>
								<option value="freight company">freight company</option>
							</select>				
							</li>
							<li id="lname">
                             <label for="UserLastName">ABN:</label><input name="data[User][last_name]" maxlength="50" type="text" id="UserLastName">							
                            </li>

							<li id="lname">
                             <label for="UserLastName">ABN:</label><input name="data[User][last_name]" maxlength="50" type="text" id="UserLastName">							
                            </li>
						</ul>
						<ul class="left-ul">
							<li id="lname">
                             <label for="UserLastName">ABN:</label><input name="data[User][last_name]" maxlength="50" type="text" id="UserLastName">							
                            </li>

							<li id="lname">
                             <label for="UserLastName">ABN:</label><input name="data[User][last_name]" maxlength="50" type="text" id="UserLastName">							
                            </li>
						</ul>

						
					</div>
					<div class="from-action">
					    <input name="data[User][role]" value="admin" id="UserRole" type="hidden">
						<input type="submit" value="save">

					</div>
				</form>
			</div>
		</div>