<?php 

  $main_menu = array(
                      //links should be route format using controller and action
  	                  'Why use gomitto'=> 'index.php?pos=mainmenu&alia=why-use-gomitto',
  	                  'Send a Parcel' => 'index.php?pos=mainmenu&alia=send-a-parcel',
  	                  'Reply Paid' => 'index.php?pos=mainmenu&alia=reply-paid',
  	                  'Track' => 'index.php?pos=mainmenu&alia=track'
                        
  	                 );
?>
<ul>
<?php foreach ($main_menu as $key => $value): ?>
 	
<li class=" ">
<a href="<?php echo $value ?>" target="_self" >
<span><?php echo $key ?></span>
</a>
</li>
<?php endforeach ?>
</ul>



