<?php

$options = array('admin'=>'admin','account'=>'account',
	               'account payable'=>'account payable','dispatch'=>'dispatch');

// $attributes = array('legend' => false);
//echo $this->Form->radio('role', $options);


// echo $this->Form->input(
//     'role',
//     array(
//     'options' => $options,
//     'div' => false,
//     'label'=>'Role:',
//     'type'=>'checkbox'
//     )
// );
?>

<?php foreach ($options as $key => $value): ?>

<span class='sc_check'><input type="checkbox" name="data[User][role]" 
      value="<?php echo $value ?>"><?php echo $key ?> 
</span>
<?php endforeach ?>