<?php 

  $sub_menu = array(
                      //links should be route format using controller and action
  	                  'Become a member'=> 'index.php?pos=mainmenu&alia=why-use-gomitto',
  	                  'Referral' => 'index.php?pos=mainmenu&alia=send-a-parcel',
  	                  'Support' => 'index.php?pos=mainmenu&alia=reply-paid'
                        
  	                 );
?>
<ul>
<?php foreach ($sub_menu as $key => $value): ?>
 	
<li class=" ">
<a href="<?php echo $value ?>" target="_self" >
<span><?php echo $key ?></span>
</a>
</li>
<?php endforeach ?>
</ul>
