<div class="businesses index">
	<h2><?php echo __('Businesses'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('member_id'); ?></th>
			<th><?php echo $this->Paginator->sort('business_name'); ?></th>
			<th><?php echo $this->Paginator->sort('business_type'); ?></th>
			<th><?php echo $this->Paginator->sort('address_id'); ?></th>
			<th><?php echo $this->Paginator->sort('preferred_carrier'); ?></th>
			<th><?php echo $this->Paginator->sort('abn'); ?></th>
			<th><?php echo $this->Paginator->sort('only_lowest'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($businesses as $business): ?>
	<tr>
		<td><?php echo h($business['Business']['id']); ?>&nbsp;</td>
		<td><?php echo h($business['Business']['member_id']); ?>&nbsp;</td>
		<td><?php echo h($business['Business']['business_name']); ?>&nbsp;</td>
		<td><?php echo h($business['Business']['business_type']); ?>&nbsp;</td>
		<td><?php echo h($business['Business']['address_id']); ?>&nbsp;</td>
		<td><?php echo h($business['Business']['preferred_carrier']); ?>&nbsp;</td>
		<td><?php echo h($business['Business']['abn']); ?>&nbsp;</td>
		<td><?php echo h($business['Business']['only_lowest']); ?>&nbsp;</td>
		<td><?php echo h($business['Business']['created']); ?>&nbsp;</td>
		<td><?php echo h($business['Business']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $business['Business']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $business['Business']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $business['Business']['id']), null, __('Are you sure you want to delete # %s?', $business['Business']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Business'), array('action' => 'add')); ?></li>
	</ul>
</div>
