
<div class="inner-page-body">
	<?php echo $this->element('breadbumb'); ?>
	<div class="admin-console-frame">
     <?php //pr($this->Auth); ?>
     <?php  
        echo $this->element('user_menu', array(
		    "act_name" =>$this->params['controller'].'_'.$this->params['action'],
		    'role' => $role,
		    'ids'=>$ids 
		));
    ?>

    <!-- MyAcc ManageAccUser-->
        <div class="sv-box">
        	<h2>Manage Acount User<h2>		
        	<table>
	        	<tr class="sv-th">
	        		<th>Name</th>
	        		<th>Role</th>
	        		<th></th>
	        	</tr>
	        	<tr class="sv_alt">
	        		<td>Giacomo Guilizzoni</td>
	        		<td>Admin</td>
	        		<td>Edit</td>
	        	</tr>
	        	<tr>
	        		<td>Giacomo Guilizzoni</td>
	        		<td>Admin</td>
	        		<td>Edit</td>
	        	</tr>
	        	<tr class="sv_alt">
	        		<td>Giacomo Guilizzoni</td>
	        		<td>Admin</td>
	        		<td>Edit</td>
	        	</tr>
	        </table>
	        <form class="common-form" action="">
				<div class="from-action">
				<a href="<?php echo Router::url(array("controller"=>"users",
                     "action"=>"add"));?>">
					<input type="button" value="Add New User">
				</a>	
				</div>
			</form>
        </div>
		
		<div class="clearboth"></div>
	</div>
	<div class="clearboth"></div>
</div>